* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ant-select-show-search:where(.css-dev-only-do-not-override-pr0fja).ant-select:not(.ant-select-customize-input) .ant-select-selector{
    display: none;
}

.ant-select-show-search:where(.css-dev-only-do-not-override-pr0fja) .anticon{
    display: none;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-table-wrapper .ant-table-column-sorter{
    display: none;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-list-bordered .ant-list-header, :where(.css-dev-only-do-not-override-pr0fja).ant-list-bordered .ant-list-footer, :where(.css-dev-only-do-not-override-pr0fja).ant-list-bordered .ant-list-item{
    padding-bottom: 0;
}

:where(.css-dev-only-do-not-override-dzlly1).ant-list-bordered.ant-list-sm .ant-list-item, :where(.css-dev-only-do-not-override-dzlly1).ant-list-bordered.ant-list-sm .ant-list-header, :where(.css-dev-only-do-not-override-dzlly1).ant-list-bordered.ant-list-sm .ant-list-footer{
    padding:3px 6px;
}

/* :where(.css-dev-only-do-not-override-2jjq6l).ant-card .ant-card-actions {
    position: absolute;
    bottom: 0;
} */

:where(.css-dev-only-do-not-override-eo35c1).ant-card .ant-card-meta-detail >div:not(:last-child){
    font-size: 0.6rem;
}

:where(.css-dev-only-do-not-override-2jjq6l).ant-list-bordered.ant-list-sm .ant-list-item, :where(.css-dev-only-do-not-override-2jjq6l).ant-list-bordered.ant-list-sm .ant-list-header, :where(.css-dev-only-do-not-override-2jjq6l).ant-list-bordered.ant-list-sm .ant-list-footer{
    padding: 8px 3px 0;
}

:where(.css-dev-only-do-not-override-2jjq6l).ant-list *{
    display:block;
}