* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ant-select-show-search:where(.css-dev-only-do-not-override-pr0fja).ant-select:not(.ant-select-customize-input) .ant-select-selector{
    display: none;
}

.ant-select-show-search:where(.css-dev-only-do-not-override-pr0fja) .anticon{
    display: none;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-table-wrapper .ant-table-column-sorter{
    display: none;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-list-bordered .ant-list-header, :where(.css-dev-only-do-not-override-pr0fja).ant-list-bordered .ant-list-footer, :where(.css-dev-only-do-not-override-pr0fja).ant-list-bordered .ant-list-item{
    padding-bottom: 0;
}

:where(.css-dev-only-do-not-override-dzlly1).ant-card .ant-card-actions{
    position:relative;
    top: 52px;
}